.DS_Store
fastlane
*.ipa
*.mobileprovision
*.app.dSYM.zip
xcuserdata
*.lock

android/.gradle/
android/app/build/
node_modules/
android/build/
ios/build/
ios/Pods/
ios/main.jsbundle
ios/main.jsbundle.meta
ios/phonect/Firebase/Dev/*.plist
ios/phonect/Firebase/Prod/*.plist
ios/assets/assets/images/**
.vscode/
android/local.properties
android/.idea/
android/phonect.iml
android/app/app.iml
*.lock
android/app/google-services.json
ios/GoogleService-Info.plist
ios/Keys/
android/**/*.keystore
android/app/src/debugdev/*.json
android/app/src/debug/*.json
android/app/src/releasedev/*.json
android/app/src/release/*.json
